body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .star-rating {
  gap: 10px;
  display: flex;
  background: #333;
  border: 5px;
  border-radius: 5px;
  width: 250px;
  justify-content: center;
}
body .star-rating .stars .fa-star {
  cursor: pointer;
}
body .star-rating .stars .fa-star.active {
  color: yellow;
}
body .star-rating .print {
  color: #fff;
}