@import url(./common.css);

/* title */
.title {
  width: 1920px;
  height: 230px;
  justify-content: center;
  align-items: center;
  .inner {
    width: 100%;
    height: 100%;
    .cart_container {
      width: 100%;
      height: 100%;
      gap: 29px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .cart_text {
        font-size: 40px;
      }
      .icon {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 45px;
        margin-bottom: 5px;
        .icon_arrow {
          width: 12px;
          height: 16px;
          color: var(--main-btn-green);
        }
        .cart_icon {
          width: 90px;
          height: 90px;
          font-size: 40px;
          border-radius: 100%;
          background: var(--main-btn-green);
          color: var(--white);
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* list */
.list {
  display: flex;
  .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid #f00;
    .list_box {
      display: flex;
      width: 985px;
      height: 1200px;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 240px;
      border: 1px solid #f00;
    }
    .text {
      width: 804px;
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #f00;
      .money {
        display: flex;
        flex-direction: column;
        right: 100%;
        border: 1px solid #f00;
      }
    }
  }
}
