@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */

/* desk top */

#app_container {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar {
  display: none;
}
#top_navigation {
  width: 1920px;
  height: 60px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.topNav {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
}
.topNav > li {
  position: relative;
}

.topNav > li > a {
  color: #000;
}

.topNav .active {
  color: #000;
  font-weight: bold;
}

.topNav > li .lnb {
  width: 160px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 0 8px;
  opacity: 0;
  overflow: hidden;
}

.topNav > li .lnb a {
  display: inline-block;
  color: #000;
  margin: 20px 0;
  &:hover {
    color: #e70017;
  }
}

/* 슬라이더 영역 전체 위치 */

#slide {
  width: 100%;
  height: 700px;
  position: relative;
  background: url("https://i.pinimg.com/originals/f0/2b/32/f02b3278f1d074fac9f8b11a27418e3e.jpg")
    center/cover no-repeat;
}

/* 슬라이더 텍스트 정보 */
.slide_text {
  font-size: 40px;
  font-weight: bold;
}

/* 슬라이더 중앙 이미지 및 글씨 위치 */
.slide_intro {
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.slide_img {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 슬라이더 텍스트 박스 위치 */
.slide_inner {
  color: #fff;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#about {
  width: 100%;
  height: 700px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

#about_inner {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

.abuot_title {
  font-size: 40px;
  width: 100%;
  height: 80px;
}

.about_intro {
  justify-content: center;
  width: 350px;
  height: 350px;
  img {
    display: flex;
    justify-content: center;
  }
}

.about_text {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.instroudetion {
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 25px;
  background: #f0c0e6;
}

#inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0c0e6;
  color: #000;
}

#items {
  display: flex;
  gap: 100px;
  .item {
    text-align: center;
    width: 350px;
    height: 200px;
    position: relative;
    .front,
    .back {
      position: absolute;
      top: 0;
      transition: all 0.5s;
    }
    .front {
      z-index: 1;
      width: 100%;
      text-align: center;
      height: 100%;
      background-color: #fff;
      border-radius: 5px 5px 0 0;
    }
    .back {
      background-color: #d6c0f0;
      border-radius: 8px;
      height: 100%;
      color: #000;
      padding: 20px;
      a {
        display: inline-block;
        background-color: yellowgreen;
        margin-top: 6px;
        padding: 5px 15px;
        border-radius: 20px;
        color: #fff;
        transition: background-color 0.3s;
        &:hover {
          background-color: #fff;
        }
      }
    }
    &:hover .front {
      top: -50%;
    }
    &:hover .back {
      top: 50%;
    }
    &:hover img {
      animation: ani 1s linear infinite;
    }
  }
}

@keyframes ani {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

#Contact {
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 25px;
}

#footer {
  width: 100%;
  height: 350px;
}

.inner {
  width: 100px;
  display: flex;
}
.footer_img {
  display: flex;
  margin-top: 120px;
  justify-content: space-around;
}

/* mobile */
@media screen and (max-width: 1190px) and (min-width: 360px) {
}
