extends base.pug
include mixins/video

block content 
    h2 welcome here you will see the following videos
    each video in videos
      +video(video)
    else 
      li sorry Nothing Found.
