extends base.pug

block content
  div 
    p=video.descrtion
    small=video.createdAt
  a(href=`${video.views}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;